numpy
matplotlib
scipy
h5py
cython
pyqt4
pandas
seaborn
pyyaml
pytest
nose
jupyter
openpyxl
astropy
paramiko
packaging
tqdm
click
six
klusta
klustakwik2
vispy
requests
traitlets
joblib
pycircstat
quantities
pyrebase
xmljson
scp
send2trash
packaging
xmltodict
